.item-font
  padding-top: .5rem
  padding-bottom: .5rem
  background-color: #999999
  &:nth-child(even)
    background-color: #ffffff
  &:hover:not(:first-child)
    background-color: #333333
    color: #ffffff
    cursor: pointer
  &:first-child
    background-color: #333333
    color: #ffffff

.item-border-bottom
  border-bottom: 1px solid lightgray
  padding-bottom: 1rem
  margin-bottom: 1rem

.items
  &__btn
    margin-bottom: 2rem
  &__footer
    display: flex
    justify-content: flex-end
  &__link
    margin-left: .5rem

.invisible
  display: none

.star
  color: red