.container-fluid {
  max-width: 1260px; }

.content {
  padding-left: 1rem;
  padding-right: 1rem; }

.item-font {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #999999; }
  .item-font:nth-child(even) {
    background-color: #ffffff; }
  .item-font:hover:not(:first-child) {
    background-color: #333333;
    color: #ffffff;
    cursor: pointer; }
  .item-font:first-child {
    background-color: #333333;
    color: #ffffff; }

.item-border-bottom {
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
  margin-bottom: 1rem; }

.btn-primary {
  color: #fff;
  background-color: #fe696a;
  border-color: #fe696a; }

.btn-primary:hover {
  color: #fff;
  background-color: #fc4a4b;
  border-color: #fc4a4b; }

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #fc4a4b;
  border-color: #fc4a4b;
  box-shadow: 0 0 0 0.2rem rgba(252, 74, 75, 0.5); }

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #fe696a;
  border-color: #fe696a; }

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #fe696a;
  border-color: #fe696a; }

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 74, 75, 0.5); }

.items__btn {
  margin-bottom: 2rem; }
.items__footer {
  display: flex;
  justify-content: flex-end; }
.items__link {
  margin-left: 0.5rem; }

.item__btn {
  margin-bottom: 2rem; }
.item__footer {
  display: flex;
  justify-content: flex-end; }
.item__link {
  margin-left: 0.5rem; }

.invisible {
  display: none; }

.star {
  color: red; }

.topbar {
  background-color: #373f50; }
  .topbar__link {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.65); }
    .topbar__link:hover {
      color: #ffffff;
      text-decoration: none; }
  .topbar__icon {
    color: #fe696a; }

.header {
  margin: 0 auto;
  background-color: #ffffff; }
  .header__account a {
    color: #4b566b; }
  .header__basket a {
    color: #4b566b; }

.search {
  margin-left: 0;
  margin-right: 0; }
  .search__text {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 2px);
    padding: 0.625rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b566b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dae1e7;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0 0 transparent;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; }
  .search__submit {
    height: 100%; }

.icon__icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #f3f5f9 !important; }
.icon__i {
  font-size: 1.3rem; }
.icon__box {
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 0.875rem;
  transition: color 0.25s ease-in-out;
  font-size: 0.875rem;
  text-decoration: none !important;
  white-space: nowrap; }
.icon__text1 {
  margin-bottom: -5px;
  font-size: 80%;
  color: #7d879c; }
.icon__text2 {
  color: #2b3445; }
.icon__price {
  font-size: 100%; }
.icon:hover .icon__i {
  color: #fe696a; }
.icon:hover .icon__text2 {
  color: #fe696a; }

.navbar .navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  color: #4b566b;
  font-size: 1rem;
  font-weight: 600; }

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #fe696a; }

.page-title-overlap {
  padding-bottom: 6.375rem; }

.page-title-overlap + * {
  position: relative;
  margin-top: -7.5rem;
  z-index: 5; }

.cz-sidebar-static {
  width: 100%;
  background-color: #fff; }

.active > .nav-link-style, .is-active > .nav-link-style, .nav-link-style.active, .nav-link-style:hover {
  color: #fe696a;
  text-decoration: none; }

.nav-link-style {
  color: #4b566b; }

.slider__text {
  height: 90%; }

.index-advantages, .index-about, .index-services, .index-reg, .index-seo {
  width: 100%; }
.index-reg, .index-about {
  background-color: #fe696a;
  color: #ffffff;
  padding-top: 8rem;
  padding-bottom: 8rem; }
.index-advantages-title {
  font-size: 3rem;
  padding-bottom: 2rem; }
.index-services-title {
  font-size: 3rem; }
.index-services-title-sub {
  padding-bottom: 2rem; }
.index-about {
  background: url("../storage/images/about-img.jpg") center center no-repeat;
  background-size: cover; }
  .index-about-title {
    font-size: 3rem; }
  .index-about-content {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem 2rem;
    border-radius: 1rem; }

.advantage {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-bottom: 1rem; }
  .advantage i {
    font-size: 5rem;
    padding-bottom: 1rem;
    color: #fe696a; }
  .advantage-line-through {
    text-decoration: line-through; }

.service {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-bottom: 1rem; }
  .service i {
    font-size: 5rem;
    padding-bottom: 1rem;
    color: #fe696a; }

.messages {
  display: flex;
  flex-direction: column; }

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 60%; }
  .message__you {
    background-color: #3490dc;
    color: #ffffff;
    margin-left: 40%; }
  .message__out {
    border: 1px solid #3490dc; }

@media (min-width: 992px) {
  .slider__text {
    height: 70%;
    text-align: left; }
  .slider__title2 {
    font-size: 5rem; }
  .slider__p {
    font-size: 1.2rem; }

  .box-shadow-lg {
    box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1) !important; }

  .rounded-lg {
    border-radius: 0.4375rem !important; } }
.footer__link {
  color: rgba(255, 255, 255, 0.65); }
  .footer__link:hover {
    color: #ffffff;
    text-decoration: none; }
.footer__title {
  color: #ffffff; }
.footer__menu {
  padding: 0;
  list-style: none; }

.subscribe {
  margin-left: 0;
  margin-right: 0; }
  .subscribe__col1 {
    width: 55%; }
  .subscribe__col2 {
    width: 45%; }
  .subscribe__email {
    padding: 10px 10px;
    width: 100%;
    outline: none;
    border: 0;
    border-radius: 10px 0 0 10px; }
  .subscribe__submit {
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: #fe696a;
    color: #ffffff;
    outline: none;
    border-radius: 0 10px 10px 0; }

/*# sourceMappingURL=style.css.map */
